{{!-- <body> --}}
<div class="flex h-screen flex-col place-content-center items-center">
  {{#each posts as |post|}}
  <div>
    <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
      <div class="mb-8">
        <div class="text-gray-900 font-bold text-xl mb-2">{{post.name}}</div>
        <p class="text-gray-700 text-base">{{post.description}}</p>
      </div>
      <div class="flex items-center">
        <div class="text-sm">
          <p class="text-gray-900 leading-none">{{post.user.name}}</p>
          <p class="text-gray-600">{{post.date_created}}</p>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{!-- </body> --}}