{{!-- <body> --}}
    <div class="flex h-screen flex-col place-content-center">
    <div class="md:p-4 m-20 space-y-4 justify-center bg-lime-600 rounded">
        <div>
            <label for="title" class="block mt-4 text-sm font-medium text-gray-900 dark:text-white">Title:</label>
            <input type="text" id="title" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
        <div class="mb-6">
            <label for="content" class="block mt-4 text-sm font-medium text-gray-900 dark:text-white">Content:</label>
            <input type="text" id="content" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
        <button
            type='button'
            id="new-post"
            class='bg-violet-700 hover:bg-rose-200 text-white font-bold py-2 px-4 rounded'>
            Create Post
        </button>
    </div>
    <script src="/js/posts.js"></script>
    </div>
{{!-- </body> --}}